
/* header ここから */

header {
  height: 150px;
  width: 100%;
}

.header_content{
	width: 980px;
	height: 100px;
	margin:0 auto;
	position: relative;
}

img.logo{
	width: 180px;
	height: 70px;
	position: absolute;
	top: 18px;
	left: 20px;
}

a{
	text-decoration: none;
		-webkit-transition: 0.2s ease-in-out;
		-moz-transition: 0.2s ease-in-out;
		transition: 0.2s ease-in-out;
}

a:hover{
	opacity: 0.7;
	filter:alpha(opacity=70);
}

ul#navi {
	width: 600px;
	height:28px;
  position: absolute;
	top: 51px;
	left: 320px;
}

li.menu {
	float:left;			/*リスト項目を横に並べる*/
	display:inline;			/*リスト項目をインライン表示にする*/
	list-style-type:none;		/*リストマーカー無しにする*/
	background-repeat:no-repeat; 	/*背景画像を繰り返さない*/
	margin: 0 6%;
	width:12%;
  height:30px;
}

ul#navi a {
	color:#404040;
	display:block;				/*リンクをブロック表示にする*/
	padding-top:4px;
	padding-left: 3px;
	padding-right: 10px;
	text-align:center;
	text-decoration:none; 			/*リンクの下線を無くす*/
	font-size: 20px;
	font-weight: 300;
  font-family: "Calibri-Light";
}


.blogList{
  position:absolute;
  width:150px;
  background:#939597; opacity 0.7;
  top:30px;
  display:none;
  border-radius: 5px;
}

head.blogList a{
color:#404040;
padding:10px 15px;
display:block;
}

.menu:hover ul {
  display:block;

}
