
/* header ここから */

header {
	background-color: rgba(147, 149, 151, 0.35);
  height: 140px;
  width: 100%;
	border-bottom: 3px solid white;
}

.header_content{
	width: 980px;
	height: 100px;
	margin:0 auto;
	position: relative;
}

img.logo{
	width: 240px;
	height: 100px;
	position: absolute;
	top: 30px;
	left: 20px;
}

a{
	text-decoration: none;
		-webkit-transition: 0.2s ease-in-out;
		-moz-transition: 0.2s ease-in-out;
		transition: 0.2s ease-in-out;
}

a:hover{
	opacity: 0.7;
	filter:alpha(opacity=70);
}

.selected_1 {
	border-bottom: solid 5px #99cc99;
}
.selected_2{
	border-bottom: solid 5px #4682B4;
}
.selected_3{
	border-bottom: solid 5px #ff69b4;
}
.selected_4{
	border-bottom: solid 5px #4B0082;
}


ul#navi {
	width: 600px;
	height:28px;
  font-weight:bold;
  position: absolute;
	top: 87px;
	left: 320px;
}

li.menu {
	float:left;			/*リスト項目を横に並べる*/
	display:inline;			/*リスト項目をインライン表示にする*/
	list-style-type:none;		/*リストマーカー無しにする*/
	background-repeat:no-repeat; 	/*背景画像を繰り返さない*/
	margin: 0 6%;
	width:12%;
  height:21px;

}

ul#navi a {
	color:#404040;
	display:block;				/*リンクをブロック表示にする*/
	padding-top:4px;
	padding-left: 3px;
	padding-right: 10px;
	text-align:center;
	text-decoration:none; 			/*リンクの下線を無くす*/
	font-family: Helvetica serif;	/*フォントの種類*/
	font-size: 16px;
	font-weight: 300;
}
